<% if commentable.comments.empty? %>
  <p>
    <strong><%= Comment.model_name.human %>:</strong>
    <%= t('views.common.comments_empty') %>
  </p>
<% else %>
  <p>
    <strong><%= Comment.model_name.human %>:</strong>
  </p>
  <% commentable.comments.each do |comment| %>
    <p>
      <%= comment.body %>
      <%= comment.user.name.nil? ? comment.user.email : comment.user.name %>
      <%= l(comment.created_at, format: :long) %>
    </p>
  <% end %>
<% end %>