<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= @report.body %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:author) %>:</strong>
  <%= @report.author.name %>
</p>

<% if @report.comments.empty? %>
  <p>
    <strong><%= Comment.model_name.human %>:</strong>
    <%= t('views.common.comments_empty') %>
  </p>
<% else %>
  <p>
    <strong><%= Comment.model_name.human %>:</strong>
  </p>
  <% @report.comments.each do |comment| %>
    <p>
      <%= comment.body %>
      <%= comment.user.name %>
      <%= comment.created_at %>
    </p>
  <% end %>
<% end %>

<%= form_with(model: [@report, @comment], method: :post, local: true) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>