<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= @report.body %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:author) %>:</strong>
  <%= @report.author.name %>
</p>

<%= render 'shared/comments/index', commentable: @report %>

<%= render 'shared/comments/form', commentable: @report, comment: @comment %>

<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>